<html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body  style="background-image: url(static/images/001.jpg)">

<div class="header">
    <ul class="nav">
        <li><a href="{% url 'register' %}">注册</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href="{% url 'login' %}">登录</a></li>

    </ul>
</div>

<div class="main-content">
    <h2>智能占座系统</h2>
    <ul class="articles">

        <li>
            <img src="{% static 'images/01.jpg' %}" width="100" height="91">

            <div class="article-info">
                <h3><a href="#">一楼休闲区</a></h3>
                <p class="meta-info">
                    <span class="meta-cate">查看布局图</span>
                    <span class="meta-cate">进入选座</span>
                </p>
                <p class="description">Just say something.</p>
            </div>

            <div class="rate">
                <span class="rate-score">40%</span>
            </div>
        </li>

        <li>
            <img src="{% static 'images/02.jpg' %}" width="100" height="91">
            <div class="article-info">
                <h3><a href="#">二楼文学区</a></h3>
                <p class="meta-info">
                    <span class="meta-cate">查看布局图</span>
                    <span class="meta-cate">进入选座</span>
                </p>
                <p class="description">Just say something.</p>
            </div>

            <div class="rate">
                <span class="rate-score">50%</span>
            </div>
        </li>

        <li>
            <img src="{% static 'images/03.jpg' %}" width="100" height="91">
            <div class="article-info">
                <h3><a href="#">三楼法学区</a></h3>
                <p class="meta-info">
                    <span class="meta-cate">查看布局图</span>
                    <span class="meta-cate">进入选座</span>
                </p>
                <p class="description">Just say something.</p>
            </div>

            <div class="rate">
                <span class="rate-score">35%</span>
            </div>
        </li>

        <li>
            <img src="{% static 'images/04.jpg' %}" width="100" height="91">
            <div class="article-info">
                <h3><a href="#">四楼计算机区域</a></h3>
                <p class="meta-info">
                    <span class="meta-cate">查看布局图</span>
                    <span class="meta-cate">进入选座</span>
                </p>
                <p class="description">Just say something.</p>
            </div>

            <div class="rate">
                <span class="rate-score">30%</span>
            </div>
        </li>
    </ul>
</div>

<div class="footer">
</div>
</body>

</html>